/* Beginning of program selector elements. */
#program-selector, #info {
    flex-basis: 50%;
}

#program-selector input:first-child {
    margin-top: 0;
}

#program-selector input:last-child {
    margin-bottom: 0;
}

#info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#info p {
    flex-grow: 0;
    flex-basis: 50%;
}
/* End of program selector elements. */
