body {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}


/* Beginning of header elements. */
header {
    background-color: #51247A; /* UQ Purple */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header > a {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    display: block;
    min-width: 10%;
    padding: 1em 1.5em;
    margin: 0.5em -1.5em 0.5em 0.5em;
    clip-path: polygon(1.5em 0, 100% 0, calc(100% - 1.5em) 100%, 0 100%);
}

header > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#logo, #account, #menu {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transform: none;
}

#logo:hover,
#account:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#logo {
    padding-left: 1em;
    padding-right: 2em;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1.5em) 100%, 0 100%);
}

#account, #menu {
    min-width: 0;
    padding-right: 0.75em;
    margin-left: auto;
    margin-right: 0.5em;
    height: 1.5em;
    clip-path: polygon(1.5em 0, 100% 0, 100% 100%, 0 100%);
    align-items: center;
    z-index: 5;
}

#account img, #menu img {
    max-height: 30px;
    padding: 0;
}

#dropdown {
    background-color: white;
    border: solid 4px #51247A; /* UQ Purple */
    position: absolute;
    right: 8px;
    top: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#dropdown a {
    background-color: rgba(80, 36, 122, 0.6);
    color: rgba(255, 255, 255, 1);
    font-size: larger;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    display: block;
    padding: 0.75em 1.5em;
    margin: 0.5em 0.5em 0 0.5em;
}

#dropdown a:last-child {
    margin-bottom: 0.5em;
}

#menu, #dropdown {
    display: none;
}
/* End of header elements. */


/* Beginning of path elements. */
#path {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#path a {
    color: black;
    margin: 10px;
    text-decoration: none;
    vertical-align: middle;
}

#path img {
    height: 20px;
}
/* End of path elements. */


/* Beginning of main content. */
#content {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
/* End of main content. */


/* Beginning of footer elements. */
footer {
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#other {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    margin-left: 5em;
    padding-bottom: 1em;
}

#other > * {
    color: black;
    align-self: center;
    width: 50%;
    text-decoration: none;
}

#other a:hover {
    color: #51247A;
    text-decoration: underline;
}

#social {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    margin-right: 3em;
}

#social a {
    height: 60%;
    margin: 3em 2em;
}

#social img {
    max-height: 75px;
    max-width: 20vw;
    border-radius: 20%;
}
/* End of footer elements. */


/* Beginning of screen size responsiveness. */
/* Footer changes to vertical at 1300px. */
@media only screen and (max-width: 1300px) {
    footer {
        flex-direction: column-reverse;
        text-align: center;
    }

    #other {
        width: 100%;
        margin: 3em 2em;
    }

    #social {
        width: 90%;
        margin: 2em;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    
    #social a {
        margin: auto;
        width: 18%;
    }
}

/* Header changes to dropdown at 1000px. */
@media only screen and (max-width: 1000px) {
    .menu { /* - */
        display: none;
    }

    #menu {
        display: block;
    }

    #account {
        display: none;
    }
}

/* Footer text changes to one column at 600px. */
@media only screen and (max-width: 600px) {
    #other {
        flex-direction: column;
    }
}